a{
    text-decoration: none;
    color:#7895B2;
}

a:hover{
    color: #47B5FF;

}
nav{
    
    display: block;
    padding: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

body {
    background-color: #E8DFCA;
    
}

.hero {
    display: block;
    background-color: #7895B2;
    padding: 5%;


    
}

h1, h3, p {
    color:#F5EFE6;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    height: 40px;
    width: 40px;


    
}

.icons{
    display:flex;
    justify-content: center;
    gap: 20px;

}

footer {
    margin: 10%;

}