a{
    text-decoration: none;
    color:#7895B2;
}

a:hover{
    color: #47B5FF;

}
nav{
    
    display: block;
    padding: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

body {
    background-color: #E8DFCA;
    
}

.hero {
    
    background-color: #7895B2;
    padding: 5%;
    display: flex;
    

}

.profilepic img{
    width: 70%;
    
  
    
}
.hero h1, p{

    padding-left: 20%;
    padding-right: 20%;
    text-align: right;
    color:#F5EFE6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    margin: 10%;

}

